<div class="flex w-full h-[calc(100vh-16rem)] bg-base-200">
  <app-world-editor-menu
    [menuItems]="menuItems()"
    [selectedAction]="selectedAction()"
    (actionSelect)="actionSelect.emit($event)"
    (fileSelect)="fileSelect.emit($event)"
  />
  <app-world-tag-editor
    [class.invisible]="!showTagEditor()"
    [class.pointer-events-none]="!showTagEditor()"
    [tagMetadataForm]="tagMetadataForm()"
  />
  <div class="flex-1 h-full relative overflow-hidden">
    <app-map-editor />
  </div>
</div>
